<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>personne</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" />
</head>
<body>
<div class="continer">
<div class="card">
    <div class="card-header">Liste des personnes</div>
    <div class="card-header">
        <table class="table">
            <tr>
                <th>Id</th> <th>Nom</th> <th>Prénom</th> <th>Age</th>
            </tr>
            <tr th:each="p:${personnes}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.nom}"></td>
                <td th:text="${p.prenom}"></td>
                <td th:text="${p.age}"></td>
            </tr>
        </table>
    </div>
</div>
</div>
</body>
</html>